* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*variables*/
body {
  background-color: #fff;
  color: #171C28;
  font-family: "Albert Sans", sans-serif;
}

.dark-mode {
  background-color: #171C28;
  color: #e7e7e7;
}
.dark-mode .abrir-menu {
  background: #171C28;
  color: #e7e7e7;
}
.dark-mode a {
  color: #fff;
}
.dark-mode .other-projects .project .project__name a {
  color: #fff;
}
.dark-mode #mail-to {
  color: #e7e7e7;
}
.dark-mode .nav {
  background: #171C28;
  box-shadow: 0px 10px 20px -20px rgba(255, 255, 255, 0.8);
}
.dark-mode .nav .cerrar-menu {
  background: #171C28;
  color: #e7e7e7;
}
.dark-mode .nav .nav-list a {
  color: #e7e7e7;
}
.dark-mode .nav a::after {
  background-color: #fff;
}
.dark-mode .intro .down {
  color: #e7e7e7;
}
.dark-mode .intro .contact .intro__cv {
  color: #e7e7e7;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  position: fixed;
  background: #fff;
}

.nav-list {
  display: flex;
  list-style-type: none;
  font-size: 1.6rem;
  gap: 2rem;
}
.nav-list a {
  position: relative;
  text-decoration: none;
  color: #171C28;
}
.nav-list a::after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: #171C28;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);
}
.nav-list a:hover::after {
  opacity: 1;
  transform: translateY(15px);
}

.switch-toggle {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 30px;
}
.switch-toggle .sun {
  font-size: 20px;
  margin-right: 5px;
}
.switch-toggle .moon {
  font-size: 20px;
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: rgb(153, 153, 153);
  border-radius: 40px;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 30px;
  background-color: #fff;
  left: 5px;
  top: 3px;
  transition: all 0.4s;
}

input[type=checkbox]:checked + .switch::after {
  transform: translateX(20px);
}

input[type=checkbox]:checked + .switch {
  background: #1dd3b0;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.abrir-menu, .cerrar-menu {
  display: none;
}

.intro {
  height: 100vh;
  padding: 7rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5rem;
}
.intro .hello {
  font-size: 4rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
}
.intro .description {
  font-size: 3rem;
  font-weight: 300;
}
.intro .description .name {
  display: block;
  font-weight: 700;
  margin: 1.8rem 0;
}
.intro .contact {
  font-size: 2.1rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}
.intro .contact .mail .bx {
  color: #1dd3b0;
  font-size: 3rem;
}
.intro .contact .mail .mail-to {
  text-decoration: none;
  color: #000;
  font-size: 2.1rem;
  vertical-align: top;
  font-weight: 400;
  border-bottom: 3px solid #007bff;
  transition: all 0.2s ease-in-out;
  padding: 2px;
  display: inline-block;
}
.intro .contact .mail .mail-to:hover {
  -webkit-box-shadow: inset 0 -33px 0 0 #007bff;
  box-shadow: inset 0 -33px 0 0 #007bff;
}
.intro .contact .intro__cv {
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10PX;
  color: #171C28;
  margin-left: 10px;
}
.intro .contact .intro__cv:hover {
  background-color: #007bff;
  color: #fff;
}
.intro .down {
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  color: #171C28;
}

.manito {
  display: inline-block;
  background-image: url("../assets/img/hand.webp");
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
}

.section {
  display: flex;
  justify-content: center;
  padding: 10rem 5rem;
  font-size: 1.6rem;
}
.section .section__title {
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  color: #007bff;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
}
.section .section__content {
  line-height: 1.8;
  font-weight: 300;
  max-width: 900px;
  width: 100%;
  font-size: 1.6rem;
}
.section .section__content .destacar {
  font-size: 1.6rem;
  font-weight: 700;
}
.section .section__content .skills__icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section .section__content .skills__icons .bx {
  font-size: 5rem;
}
.section .paragraph {
  max-width: 600px;
}

.projects .project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: -5% 0 10rem 0;
}
.projects .project .project__img {
  max-width: 800px;
  margin: 0;
}
.projects .project .project__img img {
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
}
.projects .project .project__caption {
  flex-shrink: 0;
  max-width: 250px;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
}
.projects .project .project__caption .project__name {
  font-size: 1.8rem;
  font-weight: 700;
}
.projects .project .project__caption p {
  font-weight: 300;
}
.projects .project:last-child {
  margin-bottom: 0;
}

.other-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.other-projects .project {
  margin-bottom: 5rem;
}
.other-projects .project .tech__used {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}
.other-projects .project .tech__used .tech__used__item {
  border: 1px solid #2196f3;
  font-size: 1.1rem;
  margin: 3px 3px 3px 0;
  padding: 2px 7px;
  font-weight: 700;
  color: #2196f3;
  border-radius: 5px;
  text-align: center;
}
.other-projects .project .project__name {
  margin-bottom: 1rem;
}
.other-projects .project .project__name a {
  text-decoration: none;
  color: #171C28;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.other-projects .project p {
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5rem 8rem;
}
.footer .footer__copyright {
  font-size: 1.1rem;
}
.footer .footer__copyright .designed {
  font-weight: 300;
}
.footer .footer__copyright .name {
  text-align: left;
  margin-top: 10px;
}
.footer .footer__copyright .name .bx {
  font-size: 1.6rem;
}
.footer .footer__links a {
  color: #007bff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
  transition: all 0.1s ease;
}
.footer .footer__links a:hover {
  border-bottom: 2px solid #007bff;
}
.footer .footer__links a .text {
  font-size: 1.6rem;
  letter-spacing: 2px;
}
.footer .footer__links a .bx {
  display: none;
}

@media screen and (max-width: 992px) {
  .intro {
    padding: 6rem 7rem;
  }
  .intro .hello {
    font-size: 3.3rem;
  }
  .intro .description {
    font-size: 2.8rem;
    max-width: 700px;
  }
  .intro .contact {
    font-size: 1.8rem;
  }
  .main-container .section {
    flex-direction: column;
    align-items: center;
  }
  .project .project__caption p {
    font-size: 1.6rem;
  }
  .other-projects .section__title {
    margin-bottom: 20px;
  }
  .footer {
    padding: 3rem 2rem;
  }
  .footer .footer__links a .text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    padding: 5rem 6rem;
  }
  .intro .contact .mail .bx {
    font-size: 2.6rem;
  }
  .intro .contact .mail .mail-to {
    font-size: 1.5rem;
  }
  .intro .contact .intro__cv {
    margin: 0;
    padding: 5px;
  }
  .section {
    padding: 5rem 6rem;
    flex-direction: column;
    align-items: center;
  }
  .section .section__title {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .projects .project {
    flex-direction: column;
    margin-bottom: 6rem;
  }
  .projects .project .project__caption {
    max-width: 400px;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
  .footer .footer__links a .text {
    display: none;
  }
  .footer .footer__links a .bx {
    display: inline-block;
    font-size: 2.5rem;
  }
  .footer .footer__copyright {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .intro {
    margin-top: 0;
    padding: 5rem 2rem;
  }
  .intro .hello {
    font-size: 2.5rem;
  }
  .intro .description {
    font-size: 2.2rem;
  }
  .intro .mail .bx {
    display: none;
  }
  .abrir-menu {
    position: fixed;
    right: 0;
    top: 0;
    display: inline-block;
    border: none;
    font-size: 3rem;
    background: #fff;
    padding: 2rem;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    justify-content: start;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: initial;
    height: auto;
    margin: 0;
    padding: 2rem;
    width: 50%;
    align-items: end;
    flex-direction: column;
    gap: 5rem;
    box-shadow: -10px 0px 20px -20px rgba(53, 53, 53, 0.8);
    transition: 0.5s;
  }
  .nav .cerrar-menu {
    display: block;
    border: none;
    font-size: 3rem;
    background: #fff;
  }
  .nav .switch-toggle {
    position: initial;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
    gap: 6rem;
  }
  .section {
    padding: 5rem 3rem;
  }
  .section .section__content p {
    font-size: 1.5rem;
  }
  .section .section__content p .destacar {
    font-size: 1.5rem;
  }
  .section .section__content .skills__icons {
    justify-content: center;
  }
  .project .project__caption p {
    font-size: 1.4rem;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
  .footer .footer__links a .text {
    display: none;
  }
  .footer .footer__links a .bx {
    display: inline-block;
    font-size: 2.5rem;
  }
  .footer .footer__copyright {
    display: none;
  }
}