*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

/*variables*/
$bg-dark: #171C28;
$fuente-dark: #e7e7e7;

$bg-light: #fff;
$color-fuente-light: #171C28;

$font: 'Albert Sans', sans-serif;

body{
  background-color: $bg-light;
  color: $color-fuente-light;
  font-family: $font;
  
}

.dark-mode{
  background-color: $bg-dark;
  color: $fuente-dark;
  a{
          color: #fff;
  }
   .other-projects{
    .project{
      .project__name{
        a{
          color: #fff;
        }
      }
    }
  }
  #mail-to{
    color: $fuente-dark;
  }
}

// .dark-mode{
//   .other-projects{
//     .project{
//       .project__name{
//         a{
//           color: #fff;
//         }
//       }
//     }
//   }
// }
