*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*variables*/
$bg-dark: #171C28;
$fuente-dark: #e7e7e7;

$bg-light: #fff;
$color-fuente-light: #171C28;

$font: 'Albert Sans', sans-serif;

body{
  background-color: $bg-light;
  color: $color-fuente-light;
  font-family: $font;
  
}

.dark-mode{
  background-color: $bg-dark;
  color: $fuente-dark;

  .abrir-menu{
    background: $bg-dark;
    color: $fuente-dark;
  }

  a{
    color: #fff;
  }
   .other-projects{
    .project{
      .project__name{
        a{
          color: #fff;
        }
      }
    }
  }
  #mail-to{
    color: $fuente-dark;
  }
  .nav{
    background: $bg-dark;
    box-shadow: 0px 10px 20px -20px rgb(255, 255, 255, .8);

    .cerrar-menu{
      background: $bg-dark;
      color: $fuente-dark;
    }
    .nav-list{
      a{
        color: $fuente-dark;
      }
    } a::after{
      background-color: $bg-light;
    }
  }
  
  .intro{
    .down{
      color: $fuente-dark;
    
    }
    .contact{
      .intro__cv{
      color: $fuente-dark;
    }
    }
    
  }
  
}

