

.manito{
  display: inline-block;
  background-image: url('../img/hand.png');
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;

}