@media screen and (max-width: 992px){
    .intro{
        padding: 6rem 7rem;
        .hello{
            font-size: 3.3rem;
        }
        .description{
            font-size: 2.8rem;
            max-width: 700px;
        }

        .contact{
            font-size: 1.8rem;
        }
    }
    
    .main-container{
        .section{
            flex-direction: column;
            align-items: center;
        }
    }

    .project{
        .project__caption{
            p{
                font-size: 1.6rem;
            }
        }
    }

    .other-projects{
        .section__title{
            margin-bottom: 20px;
        }
    }

    .footer{
        padding: 3rem 2rem;
        .footer__links{
            a{
                .text{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .intro{
        padding: 5rem 6rem;
        .contact{
            .mail{
                .bx{
                    font-size: 2.6rem;
                }
                .mail-to{
                    font-size: 1.5rem;
                }
            }
            .intro__cv{
                margin: 0;
                padding: 5px;
            }
        }
    }
    .section{
        padding: 5rem 6rem;
        flex-direction: column;
        align-items: center;
        .section__title{
            text-align: center;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    .projects{
        .project{
            flex-direction: column;
            margin-bottom: 6rem;
            .project__caption{
                max-width: 400px;
            }
        }
    }

    .footer{
        align-items: center;
        justify-content: center;
        .footer__links{
            a{
                .text{
                    display: none;
                }
                .bx{
                    display: inline-block;
                    font-size: 2.5rem;
                }
            }
           
        }
        .footer__copyright{
            display: none;
        }
    }
}

@media screen and (max-width: 600px){



    .intro{
        margin-top: 0;
        padding: 5rem 2rem;
        .hello{
            font-size: 2.5rem;
        }
        .description{
            font-size: 2.2rem;
        }

        .mail{
            .bx{
                display: none;
            }
        }

       
    }

     .abrir-menu{
        position: fixed;
        right: 0;
        top: 0;
        display: inline-block;
        border: none;
        font-size: 3rem;
        background: $bg-light;
        padding: 2rem;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        justify-content: start;
        align-items: flex-end;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: initial;
        height: auto;
        margin: 0;
        padding: 2rem;
        width: 50%;
        align-items: end;
        flex-direction: column;
        gap: 5rem;
        box-shadow: -10px 0px 20px -20px rgb(53 53 53 / 80%);
        transition: .5s;

        .cerrar-menu{
            display: block;
            border: none;
            font-size: 3rem;
            background: $bg-light;
            // padding: 1rem;
        }

        .switch-toggle{
            position:initial;
        }

       
    }

    .visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
        gap: 6rem;
        
    }

    

    .section{
        padding: 5rem 3rem;
        .section__content{
            p{
                font-size: 1.5rem;
                .destacar{
                    font-size: 1.5rem;
                }
            }
            
            .skills__icons{
                justify-content: center;
            }
        }
    }
    
    

    .project{
        .project__caption{
            p{
                font-size: 1.4rem;
            }
        }
    } 

    .footer{
        align-items: center;
        justify-content: center;
        .footer__links{
            a{
                .text{
                    display: none;
                }
                .bx{
                    display: inline-block;
                    font-size: 2.5rem;
                }
            }
           
        }
        .footer__copyright{
            display: none;
        }
    }
}

