.other-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .project{
        margin-bottom: 5rem;
        .tech__used{
                display: flex;
                justify-content: start;
                flex-wrap: wrap;
                gap: 1.5rem;
                width: 100%;
                .tech__used__item{
                    border: 1px solid #2196f3;
                    font-size: 1.1rem;
                    margin: 3px 3px 3px 0;
                    padding: 2px 7px;
                    font-weight: 700;
                    color: #2196f3;
                    border-radius: 5px;
                    text-align: center;
                }
            }
        .project__name{
            margin-bottom: 1rem;
            
            a{
            text-decoration: none;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 10px;
            }
            
           
        }

         p{
            margin-bottom: 2rem;
        }
    }
}