.switch-toggle{
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  // top: 20px;
  right: 30px;
  .sun{
    font-size: 20px;
    margin-right: 5px;

  }
  .moon{
    font-size: 20px;
    margin-left: 5px;
  }
}

.switch{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: rgb(153, 153, 153);
  border-radius: 40px;
  cursor: pointer;
}

.switch::after{
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 30px;
  background-color: #fff;
  left: 5px;
  top: 3px;
  transition: all 0.4s;
}

input[type="checkbox"]:checked + .switch::after{
  transform: translateX(20px);
  
}

input[type="checkbox"]:checked + .switch{
  background: #1dd3b0;
}

.offscreen{
  position: absolute;
  left: -9999px;
}